package config

import (
	"time"
	
	"github.com/kelseyhightower/envconfig"
)

// Config represents service configuration for {{.Name}}
type Config struct {
	BindAddr             	  string `envconfig:"BIND_ADDR"`
	GracefulShutdownTimeout   time.Duration `envconfig:"GRACEFUL_SHUTDOWN_TIMEOUT"`
	HealthCheckTimeout        time.Duration `envconfig:"HEALTHCHECK_TIMEOUT"`
}

var cfg *Config

// Get returns the default config with any modifications through environment
// variables
func Get() (*Config, error) {
	if cfg != nil {
		return cfg, nil
	}

	cfg := &Config{
		BindAddr:                ":{{.Port}}",
		GracefulShutdownTimeout: 5 * time.Second,
		HealthCheckTimeout:      2 * time.Second,

	}

	return cfg, envconfig.Process("", cfg)
}