---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: golang
    tags: {{.GoVersion}}

inputs:
  - name: dp-frontend-dataset-controller
    path: go/src/github.com/ONSdigital/{{.Name}}

outputs:
  - name: build

caches:
  - path: go/

run:
  path: go/src/github.com/ONSdigital/{{.Name}}/ci/scripts/build.sh
