package mapper

import (
	"context"
	"fmt"
	"net/http"

	"github.com/ONSdigital/{{.Name}}/config"
	"github.com/ONSdigital/dp-renderer/v2/model"
)

// TODO: remove hello world example mapper and models

type HelloModel struct {
	Greeting string `json:"greeting"`
	Who      string `json:"who"`
}

type HelloWorldPageModel struct {
    model.Page
	HelloWho string `json:"hello-who"`
}

// CreateHelloWorldPage maps type searchC.Response to model.Page
func CreateHelloWorldPage(ctx context.Context, req *http.Request, cfg *config.Config, basePageModel model.Page, hm HelloModel, language string) HelloWorldPageModel {
	page := HelloWorldPageModel{
		Page: basePageModel,
	}

	page.Metadata.Title = "Hello World Page"
	page.Type = "hello-world"
	page.Count = 1
	page.Language = language
	page.BetaBannerEnabled = true
	page.SearchDisabled = false
	page.URI = req.URL.Path
	page.PatternLibraryAssetsPath = cfg.PatternLibraryAssetsPath
	page.Pagination.CurrentPage = 1 // validatedQueryParams.CurrentPage TODO: can this be removed?

	page.HelloWho = fmt.Sprintf("%s %s", hm.Greeting, hm.Who)
	if cfg.HelloWorldEmphasise {
		page.HelloWho += "!"
	}

	return page
}
