{{.Name}}
================

### Getting started

This project uses go modules, ensure that go version 1.12 or above is in use.
If on go 1.12 then ensure the project either resides outside of your `GOPATH` or `GO111MODULE` is set to true

1. To build the service navigate to the project root and run `build ./...`
2. To start the service use make, `make debug`

### Dependencies

### Configuration

| Config                        | Description                                                                               | Default    |
| ------------------------------|-------------------------------------------------------------------------------------------| -----------|
| BindAddr                      | The Port to run on                                                                        | :{{.Port}} |
| GracefulShutdownTimeout       | Time to wait during graceful shutdown                                                     | 5 seconds  |
| HealthCheckInterval           | Interval between health checks                                                            | 10 seconds |
| HealthCheckCriticalTimeout    | Amount of time to pass since last healthy health check to be deemed a critical failure    | 60 seconds |

### Contributing

See [CONTRIBUTING](CONTRIBUTING.md) for details.

### License

Copyright © {{.Year}}, Office for National Statistics (https://www.ons.gov.uk)

Released under MIT license, see [LICENSE](LICENSE.md) for details.
